.row
  .col-md-12
    .chart

    .col-md-4
      %h3 Demographics
      %br

      %h4 Gender
      = render "grouping_table",
        records: @active_people,
        attribute: :gender,
        html_class: 'demographics-gender'

      %h4 Race
      = render "grouping_table",
        records: @active_people,
        attribute: :race,
        html_class: 'demographics-race'

    .col-md-4
      %h3 Bookings Summary
      %br

      %table.table.table-striped.table-responsive
        %tr
          %th Total # active bookings
          %td= @bookings.where(release_date_time: nil).count

      %h4 Case Status

      = render "grouping_table",
        records: @active_bookings,
        attribute: :status,
        html_class: 'processing-status'

      %h4 Current Week
      %table.table.table-responsive.booking-stats
        %tr.current-week-booked
          %th= @weekly_bookings.count
          %td people booked within past week
        %tr.current-week-released
          - total = @weekly_bookings.count
          - inactive = @weekly_bookings.inactive.count
          %th #{inactive} (#{present_percent(inactive, @weekly_bookings.count)})
          %td people released

      %h4 Location
      = render "grouping_table",
        records: @active_bookings,
        attribute: :facility_name,
        html_class: 'location'

    .col-md-4
      %h3 Charges Summary
      %br
      %h4 By Category
      = render "grouping_table",
        records: @active_charges,
        attribute: :category,
        html_class: 'charge-categories'

      %h4 By Type
      = render "grouping_table",
        records: @active_charges,
        attribute: :description,
        html_class: 'charge-types'

    .col-md-12.bonds
      %h3 People who didn't post bond
      %p Current inmates with $500 or smaller bonds

      %table.table.table-striped.table-responsive
        %thead
          %tr
            %th Name
            %th Bond
        %tbody
          - @target_bond_people.each do |person|
            %tr
              %th #{person.last_name}, #{person.first_name}
              %td= number_to_currency(person.active_booking.bond_total, precision: 0)
