.row
  .col-md-12
    .chart

    .col-md-4
      %h3 People Summary
      %br

      %table.table.table-striped.table-responsive
        %tr
          %th Total # people in system
          %td= @people.count
        %tr
          %th People with active bookings
          %td= @active_people.count

      %h4 Gender
      = render "grouping_table", records: @active_people, attribute: :gender

      %h4 Race
      = render "grouping_table", records: @active_people, attribute: :race

    .col-md-4
      %h3 Bookings Summary
      %br
      %table.table.table-striped.table-responsive
        %tr
          %th Total # active bookings
          %td=@bookings.where(release_date_time: nil).count

      %h4 Processing Status
      = render "grouping_table", records: @active_bookings, attribute: :status

    .col-md-4
      %h3 Charges Summary
      %br
      %h4 By Category
      = render "grouping_table", records: @active_charges, attribute: :category

      %h4 By Type
      = render "grouping_table", records: @active_charges, attribute: :description
