.row
  .col-md-12
    .chart

    .col-md-4
      %h3 People Summary
      %br

      %table.table.table-striped.table-responsive
        %tr
          %th Total # people in system
          %td= @people.count
        %tr
          %th People with active bookings
          %td= @active_people.count

      %h4 Gender
      %table.table.table-striped.table-responsive.demographics-gender
        - @active_people.group_by(&:gender).each do |gender, people|
          %tr
            %th= gender
            %td= people.count
            %td= present_percent(people.count, @active_people.count)

      %h4 Race
      %table.table.table-striped.table-responsive.demographics-race
        - @active_people.group_by(&:race).each do |race, people|
          %tr
            %th= race
            %td= people.count
            %td= present_percent(people.count, @active_people.count)

    .col-md-4
      %h3 Bookings Summary
      %br
      %table.table.table-striped.table-responsive
        %tr
          %th Total # active bookings
          %td=@bookings.where(release_date_time: nil).count
      %h4 Processing Status
      %table.table.table-striped.table-responsive.processing-status
        -@active_bookings.group_by(&:status).each do |status, bookings|
          %tr{ class: status.downcase }
            %th= status
            %td= bookings.count
            %td= present_percent(bookings.count, @active_bookings.count)
      %h4 Current Week
      %table.table.table-striped.table-responsive.booking-stats
        %tr.current-week-booked
          %th= @weekly_bookings.count
          %td people booked within past week
        %tr.current-week-released
          - total = @weekly_bookings.count
          - inactive = @weekly_bookings.inactive.count
          %th #{inactive} (#{present_percent(inactive, @weekly_bookings.count)})
          %td people released
    .col-md-4
      %h3 Charges Summary
      %br
      %h4 By Category
      %table.table.table-striped.table-responsive.charge-categories
        - @active_charges.group_by(&:category).each do |category, active_charges|
          %tr
            %th= category
            %td= active_charges.count
      %h4 By Type
      %table.table.table-striped.table-responsive
        - @active_charges.group_by(&:description).each do |description, charges|
          %tr
            %th= description
            %td= charges.count
