%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#jail-dashboard-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Jail Population Management Dashboard", root_path, class: "navbar-brand", method: 'get'
    #jail-dashboard-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "Change Password",  edit_user_registration_path, method: 'get'
              - if can? :manage, User
                %li
                  = link_to "Manage Users", users_path, method: 'get'
              %li.divider{ :role => "separator" }
              %li
                = link_to "Log Out", destroy_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid
