!!!
%html
  %head
    %title Jail Dashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = yield

    = include_gon
    = javascript_include_tag 'application'
    :javascript
      window.runApplication()
